@import "../App.css";

.address-container {
     margin-top: 1rem;
     border-top-style: double;
}

.address .add-detail{
     border: 1px solid var(--little-dark-grey);
     padding: 0.5rem;
}

.place-order-container{
     margin: 2rem;
     padding: 2rem;
     display: flex;
     justify-content: center;
}

.place-order-container article{
     align-items: center;
     padding: 2rem;
     background-color: var(--light-grey);
}

.place-order-container .icon{
     font-size: 2.5rem;
}

.place-order-container p{
     font-weight: 800;
     font-size: 1.3rem;
}

.place-order-container .upper-text {
     font-size: 1.5rem;
}